table {
    border-collapse: collapse;
    border: 1px solid #000;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: center;
    font-family: monospace;
    font-size: 18px;
    position: relative;
}

.pixel-index {
    font-size: 10px;
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 2px;
    color: #999;
}

td.pixel {
    width: 5px;
    height: 5px;
    border: 0;
}









.colors {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.color1 { grid-area: 1 / 1 / 2 / 4; }
.color2 { grid-area: 2 / 1 / 3 / 2; }
.color3 { grid-area: 2 / 2 / 3 / 3; }
.color4 { grid-area: 2 / 3 / 3 / 4; }
.color5 { grid-area: 3 / 1 / 4 / 2; }
.color6 { grid-area: 3 / 2 / 4 / 3; }
.color7 { grid-area: 3 / 3 / 4 / 4; }
.color8 { grid-area: 4 / 1 / 5 / 4; }